documents/UPI-Meta-Sync 1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:upi="http://npci.org/upi/schema/" 
 targetNamespace="http://npci.org/upi/schema/" 
 elementFormDefault="unqualified"
 attributeFormDefault="unqualified">
 
<xs:include schemaLocation="UPI-Common.xsd"></xs:include>

	<xs:element name="ReqSync">
		<xs:annotation>
			<xs:documentation>This API allows the PSPs to request for synchronizing
				the status. The PSPs must
				request for status only after the
				specified timeout period.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Head" type="upi:headType" />
				<xs:element name="Txn" type="upi:payTrans" />
				<xs:element name ="Ref" type ="upi:ref"/>
				<xs:element name="Payer" type="upi:payerType" />
				<xs:element name="Payee" type="upi:payeeType" />
				<xs:element name="VerificationSequence" type="upi:VerificationSequence" minOccurs="0" maxOccurs="10" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="RespSync">
		<xs:annotation>
			<xs:documentation>This API allows the PSPs to request for the status of
				the transaction. The PSPs must
				request for status only after the
				specified timeout period.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Head" type="upi:headType" />
				<xs:element name="Txn" type="upi:payTrans" />	
				<xs:element name="Resp">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Ref" maxOccurs="50" minOccurs="0" type="upi:ref" />
							<xs:element name="Consent" type="upi:consentType"
								minOccurs="0" />
							<xs:element name="Creds" type="upi:credsType" minOccurs="0"	maxOccurs="1" />
						</xs:sequence>
						<xs:attribute type="xs:string" name="reqMsgId" />
						<xs:attribute type="xs:string" name="result" />
						<xs:attribute type="xs:string" name="errCode" />
						<xs:attribute type="upi:payConstant" name="opType" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>		
	</xs:element>
	
</xs:schema>
