document_gen/api/schemas/upi_pay_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <!--
    ╔══════════════════════════════════════════════════════════════════════╗
    ║  upi_pay_request.xsd  —  STRUCTURAL schema only                     ║
    ║                                                                      ║
    ║  AGENT RULES (never violate):                                        ║
    ║  1. No xs:maxInclusive on AmountValueType.  Limits → upi_switch.py  ║
    ║  2. Payee > Amount must stay minOccurs="0" (Phase 1 omits it)        ║
    ║  3. Preserve xs:sequence order exactly:                              ║
    ║       ReqPay: Head → Txn → purpose? → purposeCode? → Payer →        ║
    ║               Payees → RiskScore? → HighValue? → extensions          ║
    ║       Payer:  Info? → Device? → Ac? → Consent? → Amount? → Creds?   ║
    ╚══════════════════════════════════════════════════════════════════════╝
  -->
<xs:schema xmlns:upi="http://npci.org/upi/schema/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://npci.org/upi/schema/"
           elementFormDefault="qualified">

  <!--
    AmountValueType: validates FORMAT only (decimal, exactly 2 fractional digits).
    ══════════════════════════════════════════════════════════════════════════════
    ❌ DO NOT add xs:maxInclusive / xs:minInclusive here.
       Amount limits are BUSINESS RULES in switch/upi_switch.py (P2P_LIMIT, MAX_TXN_AMOUNT).
       Adding a value cap here breaks Phase 1 whenever an amount exceeds the hardcoded cap.
    ══════════════════════════════════════════════════════════════════════════════
  -->
  <xs:simpleType name="AmountValueType">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="\d+\.\d{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ReqPay">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Head" type="upi:HeadType"/>
        <xs:element name="Txn"  type="upi:TxnType"/>
        <!-- purpose / purposeCode appear between Txn and Payer (app.js order) -->
        <xs:element name="purpose"     type="xs:string"           minOccurs="0"/>
        <xs:element name="purposeCode" type="upi:PurposeCodeType" minOccurs="0"/>
        <xs:element name="Payer"       type="upi:PayerType"/>
        <xs:element name="Payees"      type="upi:PayeesType"/>
        <!-- Optional post-Payees extension fields (agents and Phase 2 tests may include these) -->
        <xs:element name="RiskScore"           type="xs:decimal" minOccurs="0"/>
        <xs:element name="isAIAgent"           type="xs:string"  minOccurs="0"/>
        <xs:element name="HighValue"           type="xs:string"  minOccurs="0"/>
        <xs:element name="TransactionCategory" type="xs:string"  minOccurs="0"/>
        <!-- New optional extensions field -->
        <xs:element name="extensions" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PurposeCodeType">
    <xs:attribute name="code"        type="xs:string"/>
    <xs:attribute name="description" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="HeadType">
    <xs:attribute name="ver"      type="xs:string" use="required"/>
    <xs:attribute name="ts"       type="xs:string" use="required"/>
    <xs:attribute name="orgId"    type="xs:string" use="required"/>
    <xs:attribute name="msgId"    type="xs:string" use="required"/>
    <xs:attribute name="prodType" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="TxnType">
    <xs:sequence>
      <xs:element name="QR" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="qVer"       type="xs:string"/>
          <xs:attribute name="ts"         type="xs:string"/>
          <xs:attribute name="qrMedium"   type="xs:string"/>
          <xs:attribute name="expireTs"   type="xs:string"/>
          <xs:attribute name="query"      type="xs:string"/>
          <xs:attribute name="verToken"   type="xs:string"/>
          <xs:attribute name="stan"       type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id"             type="xs:string" use="required"/>
    <xs:attribute name="note"           type="xs:string" use="optional"/>
    <xs:attribute name="custRef"        type="xs:string" use="optional"/>
    <xs:attribute name="refId"          type="xs:string" use="optional"/>
    <xs:attribute name="refUrl"         type="xs:string" use="optional"/>
    <xs:attribute name="ts"             type="xs:string" use="optional"/>
    <xs:attribute name="refCategory"    type="xs:string" use="optional"/>
    <xs:attribute name="type"           type="xs:string" use="required"/>
    <xs:attribute name="orgTxnId"       type="xs:string" use="optional"/>
    <xs:attribute name="purpose"        type="xs:string" use="optional"/>
    <xs:attribute name="initiationMode" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="PayerType">
    <xs:sequence>
      <xs:element name="Info" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Identity" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="id"           type="xs:string"/>
                <xs:attribute name="type"         type="xs:string"/>
                <xs:attribute name="verifiedName" type="xs:string"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Device"  type="upi:DeviceType"  minOccurs="0"/>
      <xs:element name="Ac"      type="upi:AccountType" minOccurs="0"/>
      <xs:element name="Consent" type="upi:ConsentType" minOccurs="0"/>
      <xs:element name="Amount"  type="upi:AmountType"  minOccurs="0"/>
      <xs:element name="Creds"   type="upi:CredsType"   minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="addr"   type="xs:string" use="required"/>
    <xs:attribute name="name"   type="xs:string" use="optional"/>
    <xs:attribute name="seqNum" type="xs:string" use="optional"/>
    <xs:attribute name="type"   type="xs:string" use="optional"/>
    <xs:attribute name="code"   type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="DeviceType">
    <xs:sequence>
      <xs:element name="Tag" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="name"  type="xs:string" use="required"/>
          <xs:attribute name="value" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountType">
    <xs:sequence>
      <xs:element name="Detail" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="name"  type="xs:string" use="required"/>
          <xs:attribute name="value" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="addrType" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="ConsentType">
    <xs:attribute name="name"  type="xs:string"/>
    <xs:attribute name="type"  type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="AmountType">
    <xs:attribute name="value" type="upi:AmountValueType" use="required"/>
    <xs:attribute name="curr"  type="xs:string"           use="optional"/>
  </xs:complexType>

  <xs:complexType name="CredsType">
    <xs:sequence>
      <xs:element name="Cred" type="upi:CredType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CredType">
    <xs:sequence>
      <xs:element name="Data" type="upi:DataType"/>
    </xs:sequence>
    <xs:attribute name="type"    type="xs:string"/>
    <xs:attribute name="subType" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="DataType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="code" type="xs:string" use="required"/>
        <xs:attribute name="Ki"   type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PayeesType">
    <xs:sequence>
      <xs:element name="Payee" type="upi:PayeeType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PayeeType">
    <xs:sequence>
      <xs:element name="Institution" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="QrPayLoad" type="xs:string"/>
          <xs:attribute name="conCode"   type="xs:string"/>
          <xs:attribute name="netInstId" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Merchant" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Identifier" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="subCode"        type="xs:string"/>
                <xs:attribute name="mid"            type="xs:string"/>
                <xs:attribute name="sid"            type="xs:string"/>
                <xs:attribute name="tid"            type="xs:string"/>
                <xs:attribute name="merchantType"   type="xs:string"/>
                <xs:attribute name="merchantGenre"  type="xs:string"/>
                <xs:attribute name="onBoardingType" type="xs:string"/>
                <xs:attribute name="pinCode"        type="xs:string"/>
                <xs:attribute name="regIdNo"        type="xs:string"/>
                <xs:attribute name="tier"           type="xs:string"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Ownership" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="type" type="xs:string"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Invoice" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="name" type="xs:string"/>
                <xs:attribute name="num"  type="xs:string"/>
                <xs:attribute name="date" type="xs:string"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Info" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Identity" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="id"           type="xs:string"/>
                <xs:attribute name="type"         type="xs:string"/>
                <xs:attribute name="verifiedName" type="xs:string"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Device"  type="upi:DeviceType"  minOccurs="0"/>
      <xs:element name="Ac"      type="upi:AccountType" minOccurs="0"/>
      <xs:element name="Consent" type="upi:ConsentType" minOccurs="0"/>
      <!-- Amount is OPTIONAL on Payee — Phase 1 flow sends Payee without Amount -->
      <xs:element name="Amount"    type="upi:AmountType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="addr"   type="xs:string" use="required"/>
    <xs:attribute name="name"   type="xs:string" use="optional"/>
    <xs:attribute name="seqNum" type="xs:string" use="optional"/>
    <xs:attribute name="type"   type="xs:string" use="optional"/>
    <xs:attribute name="code"   type="xs:string" use="optional"/>
  </xs:complexType>

</xs:schema>